.button {
    display: flex;
    width: 280px;
    height: 37px;
    margin: var(--gap-l) 0 var(--gap-s) 0;
    background-color: var(--accent-color);
    border-radius: 8px;
    color: var(--btn-color);
    justify-content: center;
    align-items: center;
}