html,body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: "Roboto-Regular", "Arial", sans-serif;
    font-size: 11px;
    overflow-x: hidden;
}

:root {
    --white: #FCFBF7;
    --yellow: #F4B000;
    --grey-very-light: #FBFBFB;
    --grey-light-1: #EFEFEF;
    --grey-light-2: #EAEAEA;
    --grey: #999999;
    --black: #1E1E1E;
    --red: #FF2F2F;
    --ligth-blue: #E4EDFD;
    --font-size-x-l: 40px;
    --font-size-l: 20px;
    --font-size-m-l: 16px;
    --font-size-m: 13px;
    --font-size-s-m: 11px;
    --font-size-s: 9px;
    --line-height-x-l: 40px;
    --line-height-l: 22px;
    --line-height-m-l: 16px;
    --line-height-m: 15px;
    --line-height-s-m: 12px;
    --line-height-s: 11px;
    --sidebar-width: 310px;
    --sidebar-width: 310px;
    --gap-s: 10px;
    --gap-m: 20px;
    --gap-l: 40px;  
}

.theme_light {
    --background: #FFFFFF;
    --title-color: var(--black);
    --subtitle-color: var(--grey);
    --accent-color: #3369F3;
    --btn-color: var(--white);
    --bg-msg-color: var(--grey-very-light);
    --bg-color: var(--grey-light-1);
    --bg-accent-color: var(--ligth-blue);
    --border-color: var(--grey-light-2);
    --notes-color: var(--white);
    --invalid-color: var(--red);
    --btn-arrow-bg-url: url('../../../static/images/arrow.svg');
    --photo-bg-url: url('../../../static/images/photo.svg');
    --search-icon-url: url('../../../static/images/search.svg');
    --btn-menu-bg-url: url('../../../static/images/menu.svg');
    --btn-attach-bg-url: url('../../../static/images/attach.svg');
}

.text-x-l {
    font-size: var(--font-size-x-l);
    line-height: var(--line-height-x-l);
}

.text-l {
    font-size: var(--font-size-l);
    line-height: var(--line-height-l);
}

.text-m-l {
    font-size: var(--font-size-m-l);
    line-height: var(--line-height-m-l);
}

.text-m {
    font-size: var(--font-size-m);
    line-height: var(--line-height-m);
}

.text-s-m {
    font-size: var(--font-size-s-m);
    line-height: var(--line-height-s-m);
}

.text-s {
    font-size: var(--font-size-s);
    line-height: var(--line-height-s);
}

.text-semi {
    font-family: "Roboto-Medium", "Arial", sans-serif;
}

.text-bold {
    font-family: "Roboto-Bold", "Arial", sans-serif;
}

input {
    background-color: transparent;
    outline: none;
    border: none;
}

button {
    background-color: transparent;
    cursor: pointer;
    border: none;
}

ul {
    margin: 0;
    padding: 0;
}





