{{#> main script = 'js/chats.js' style = 'css/chats.css' title = 'Чаты' themeClass = 'theme_light'}}
    <main class="layout chats">
        {{> chats_list chats = data.chats}}
        <div class="chat_body empty text-m">
            Выберите чат, чтобы отправить сообщение
        </div>
    </main>
{{/main}}