
.field,
.field__input {
    width: 100%;
}

.field__label {
    color: var(--subtitle-color);
}

.field__input {
    margin-bottom: var(--gap-l);
    border-bottom: 1px solid var(--accent-color);
    color: var(--title-color);
}

.field__input.invalid {
    border-bottom: 1px solid var(--invalid-color);
}




