<li class="chat">
    <div class="chat__avatar"></div>
    <div class="chat__text">
        <div class="chat__name text-m text-semi">{{name}}</div>
        <div class="chat__message text-s-m">
            {{#if isLast}}
                <span class="chat__author">Вы: </span>
            {{/if}}
            <span>{{message}}</span>
        </div>
    </div>
    <div class="chat__time text-s">{{time}}</div>
    {{#if notes}}
        <div class="chat__notes text-s-m">{{notes}}</div>
    {{/if}}   
</li>