<div class="chat_body__header">
     <div class="chat_body__avatar">
         <div class="chat_body__avatar_img"></div>
         <div class="chat_body__avatar_name text-m text-semi">{{name}}</div>
     </div>
    <button class="chat_body__menu"></button>
</div>
<div class="chat_body__content"></div>
<div class="chat_body__footer">
    <button class="chat_body__attach"></button>
    <input class="chat_body__message text-m" type="text" name="message" placeholder="Сообщение" onfocus="this.placeholder=''" onblur="this.placeholder='Сообщение'">
    <button class="chat_body__send"></button>
</div>