<div class="sidebar">
    {{> link href = "./user.hbs" text = "Профиль >"}}
    <br>
    <div class="chats__search__container">
        <input class="chats__search text-m" type="text" name="search" placeholder="Поиск" onfocus="this.placeholder=''" onblur="this.placeholder='Поиск'">
    </div>
    <nav>
        <ul class="chats__list">
            {{#each chats}}                       
                {{>  chat name = this.name  isLast = this.isLast message = this.message time = this.time notes = this.notes}}
            {{/each}}
        </ul>
    </nav>
</div>

