<main class="layout login">
  <div class="form__container">
    <h1 class="form__title text-l">{{title}}</h1>
    <form class="form login">
      {{> @partial-block}}
      {{> button text=btnText }}
      {{> link href=href text=linkText}}        
    </form>
  </div> 
</main>