<div class="message__container attach">
    <div class="message img">
        <img class="message__content" src={{attach}}>
        <div class="message__meta">
            <span class="message__read {{class}}"></span>  
            <span class="message__time {{class}} text-s">
                {{time}}
            </span>   
        </div>
    </div>    
</div>