.link {
  color: var(--accent-color);
  text-decoration: none;
}

.link.cancel {
  color: var(--invalid-color);
}

.link.sidebar {
  position: absolute;
  top: var(--gap-m);
  right: var(--gap-s);
  color: var(--grey);
}
